@using Microsoft.Extensions.Localization;
@using NGSBlazor.Client.Authentication;
@using NGSBlazor.Client.Pages.Identities;
@inherits LayoutComponentBase

<PageTitle>NGS</PageTitle>


<main>
    @Body
</main>
@code{



}